@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";
#adtag {
  opacity: 0;
}
#concept {

  main img {
    max-width: 100%;
  }
  .img {
    position: relative;
    line-height: 0;
    .annotation {
      bottom: 20px;
    }
  }

  main {
    font-family: 'RyuminPro', serif;
  }
  sp{
    display: none;
  }
  pc{
    display: block;
  }
  .page-annotation {
    font-family: 'Noto Sans JP', sans-serif;
  }
  .main-visual {
    position: relative;
    line-height: 0;
    border: none;
    .page-lead {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      color: #fff;
      font-size: 54px;
      width: 90%;
    }
  }
  .sections {
    background-color: #B4A064;
    line-height: 0;
    .section-title {
      font-size: 27px;
      padding-top: 155px;
      position: relative;
      color: #afa471;
      letter-spacing: 0.2em;
      margin-bottom: 140px;
      &::after {
        content: "";
        display: block;
        width: 45px;
        height: 170px;
        background: url(../images/common/intro.jpg) bottom;
        position: absolute;
        top: 0;
        right: 100%;
        margin-right: 20px;
      }
    }
    .inner {
      margin: 0 auto;
      width: 70%;
      max-width: 1030px;
    }
    .lead {
      font-size: 73px;
      padding-bottom: 65px;
      line-height: 1.5;
      color: #000;
    }
    .lead02 {
      font-size: 40px;
      padding-bottom: 45px;
      line-height: 1.8;
      color: #000;
    }
    .text {
      font-size: 24px;
      line-height: 2.1;
      color: #000;
    }
    .img {
      padding-top: 45px;
      padding-bottom: 8px;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
    }
  }//sections
  .intro {
    background-color: #fff;
    padding-bottom: 180px;
    .section-title {
      margin-bottom: 165px;
      color: #B4A064;
      &::after {
        background-color: #B4A064;
      }
    }
    .title{
      margin-bottom: 105px;
      max-width: 700px;;
    }
    .lead {
      font-size: 83px;
      padding-bottom: 105px;
      line-height: 1.5;
    }
  }//intro
  .scale {
    padding-top: 120px;
    padding-bottom: 0px;
    .annotation {
      bottom: -12px;
    }
  }
  .forest {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 120px;
  }
  .add-annotation {
    text-align: right;
    font-size: 14px;
    padding-top: 6px;
    color: #fff;
  }
  main {
    padding-bottom: 140px;
  }
  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 768px) {
    sp{
      display: block;
    }
    pc{
      display: none;
    }
    .main-visual {
      .page-lead {
        font-size: 30px;
      }
    }
    .sections {
      .section-title {
        font-size: 20px;
        padding-top: 90px;
        margin-bottom: 60px;
        &::after {
          width: 40px;
          height: 100px;
          margin-right: 10px;
        }
      }
      .inner {
        margin: 0 auto;
        width: 70%;
      }
      .lead {
        font-size: 30px;
        padding-bottom: 35px;
      }
      .lead02 {
        font-size: 20px;
        padding-bottom: 25px;
      }
      .text {
        font-size: 17px;
      }
      .img {
        padding-top: 25px;
        padding-bottom: 6px;
      }
    }//sections
    .intro {
      padding-bottom: 100px;
      .section-title {
        margin-bottom: 40px;
      }
      .title{
        max-width: 450px;
        margin-bottom: 40px;
      }
      .lead {
        font-size: 36px;
        padding-bottom: 30px;
      }
    }//intro
    .scale {
      padding-top: 80px;
    }
    .forest {
      padding-top: 50px;
      padding-bottom: 70px;
      margin-bottom: 70px;
    }
    main {
      padding-bottom: 100px;
    }
   
  }
}/*
.footer-contacts {
  padding: 160px 60px;
  background: #534D44;
  text-align: center;
  color: #fff;
  a {
    color: #fff;
  }
  .title {
    font-size: 28px;
    padding-bottom: 35px;
  }
  .links {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
    li {
      float: left;
      width: 49%;
      margin-right: 2%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      padding: 10px 5px;
      box-sizing: border-box;
      background: #fff;
      a {
        color: #000;
        font-size: 16px;
        text-align: center;
        width: 100%;
        line-height: 1.6;
      }
      &:last-child {
        margin-right: auto;
      }
    }
  }//links
  .about-colona {
    font-size: 20px;
    padding: 20px 0 40px;
    a {
      display: inline-block;
      padding-bottom: 7px;
      border-bottom: 1px solid #fff;
      position: relative;
      padding-left: 25px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: 5px;
        height: 5px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
      }
    }
  }//.about-colona
  .about-tel {
    font-size: 15px;
    line-height: 1.4;;
    padding-bottom: 0px;
  }//.about-tel
  .tel-link-wrap {
    padding: 10px 0 15px;
    a {
      display: inline-block;
      padding-left: 70px;
      position: relative;
      font-size: 45px;
      font-weight: normal;
      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        width: 64.5px;
        height: 37px;
        transform: translateY(-50%);
        background: url(../images/common/icon-free-dial.svg) no-repeat center;
        background-size: cover;
      }
    }
  }//.tel-link-wrap
  .mail {
    font-size: 16px;
    padding-bottom: 25px;
    a {
      display: inline-block;
      padding-left: 30px;
      position: relative;
      font-weight: normal;
      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        width: 18px;
        height: 15px;
        transform: translateY(-50%);
        background: url(../images/common/icon-mail.svg) no-repeat center;
        background-size: 100% auto;
      }
    }
  }//.mail
  .bussiness-hour {
    font-size: 13px;
    line-height: 1.5;
  }
}//footer-contacts

@media (max-width:$breakpoint_sp) {
  .footer-contacts {
    padding: 80px 10px;
    .title {
      font-size: 54px;
      padding-bottom: 35px;
    }
    .links {
      padding-bottom: 30px;
      li {
        float: none;
        width: 84%;
        margin: 0 auto 20px;
        display: block;
        height: auto;
        padding: 45px 5px;
        box-sizing: border-box;
        background: #fff;
        a {
          font-size: 36px;
        }
      }
    }//links
    .about-colona {
      font-size: 35px;
      padding: 20px 0 40px;
      a {
        padding-bottom: 7px;
        padding-left: 35px;
        &::after {
          top: 12px;
          left: 0;
          width: 8px;
          height: 8px;
        }
      }
    }//.about-colona
    .about-tel {
      font-size: 25px;
    }//.about-tel
    .tel-link-wrap {
      padding: 30px 0 15px;
      a {
        padding-left: 110px;
        font-size: 95px;
        &:after {
          width: 98.5px;
          height: 57px;
          background-size: 100% auto;
        }
      }
    }//.tel-link-wrap
    .mail {
      font-size: 32px;
      padding-bottom: 35px;
      a {
        padding-left: 50px;
        &:after {
          width: 38px;
          height: 35px;
          background-size: 100% auto;
        }
      }
    }//.mail
    .bussiness-hour {
      font-size: 27px;
      margin: 0 auto;
      width: 94%;
      line-height: 1.8;
    }
  }//footer-contacts
}*/