@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";

.location02 {
  main img {
    max-width: 100%;
  }
  .img {
    position: relative;
  }
  main {
    font-family: "RyuminPro", serif;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }
  sup {
    vertical-align: text-top;
  }
  .main-visual {
    position: relative;
    line-height: 0;
    border: none;
    .page-lead {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 54px;
      width: 90%;
    }
  }
  .sections {
    line-height: 1;
    .section-img {
      position: relative;
    }
    .section-title {
      font-size: 27px;
      padding-top: 155px;
      position: relative;
      color: #afa471;
      letter-spacing: 0.2em;
      margin-bottom: 140px;
      &::after {
        content: "";
        display: block;
        width: 45px;
        height: 170px;
        background: url(../images/common/intro.jpg) bottom;
        position: absolute;
        top: 0;
        right: 100%;
        margin-right: 20px;
      }
    }
    .inner {
      margin: 0 auto;
      width: 70%;
      max-width: 1030px;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
    }
  } //sections

  .intro {
    .section-lead {
      text-align: center;
      font-size: 54px;
      padding-bottom: 200px;
      line-height: 1.5;
    }
  } //intro
  main {
    padding-bottom: 140px;
  }

  .sections {
    .tit {
      font-size: 36px;
      margin-bottom: 30px;
      line-height: 1.6;
      border-left: 15px solid #afa471;
      padding-left: 10px;
      span {
        font-size: 27px;
        color: #afa471;
      }
    }
    .lead {
      font-size: 24px;
      line-height: 1.8;
      margin-bottom: 50px;
    }
    .text {
      font-size: 32px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid;
      span {
        font-size: 20px;
      }
    }
    .name {
      font-size: 25px;
      line-height: 1.4;
      margin: 20px 0 30px;
      padding-left: 10px;
      border-left: 5px solid;
      span {
        font-size: 20px;
      }
    }
  } //sections

  .tama {
    .tama01 {
      margin-bottom: 40px;
    }
    .list01 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 32.9%;
      }
      li:last-child {
        margin-right: auto;
      }
    }
    .bg {
      background: #dbd3c5;
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 100px;
      position: relative;
      z-index: -2;
      .list02 {
        li {
          vertical-align: middle;
          display: inline-block;
          width: 46%;
          margin-right: 1%;
        }
        li:nth-child(2),
        li:last-child {
          width: 25.8%;
          margin-right: auto;
        }
      }
      .txt01 {
        font-size: 26px;
        line-height: 1.4;
        margin-bottom: 10px;
        &::after {
          content: "";
          display: block;
          width: 90px;
          height: 90px;
          background: url(../images/location02/txt-bg.jpg);
          position: absolute;
          top: 15px;
          left: 11px;
          margin-right: 20px;
          z-index: -1;
        }
      }
      .txt02 {
        font-size: 28px;
        margin-bottom: 20px;
        span {
          font-size: 20px;
        }
      }
      .txt03 {
        font-size: 20px;
        line-height: 1.8;
      }
      .txt04 {
        font-size: 27px;
        line-height: 1.4;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-left: 30px;
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 90px;
          height: 90px;
          background: url(../images/location02/txt-bg.jpg);
          position: absolute;
          top: 0;
          left: 0;
          margin-right: 20px;
          z-index: -1;
        }
      }
    } //bg
    .list03 {
      margin-bottom: 30px;
      li {
        vertical-align: top;
        display: inline-block;
        width: 49.5%;
      }
      li:last-child {
        margin-right: auto;
      }
      .info {
        font-size: 24px;
        line-height: 1.6;
      }
    }
    .list04 {
      li {
        vertical-align: text-top;
        display: inline-block;
        width: 48.5%;
        margin-right: 2%;
      }
      li:last-child {
        margin-right: auto;
      }
      .side {
        vertical-align: top;
        display: inline-block;
        width: 53%;
        margin-right: 1%;
      }
      .side.last {
        width: 44.5%;
        margin-right: auto;
      }
      .tama10 {
        margin-bottom: 10px;
      }
    }
  } //tama

  .park {
    margin-bottom: 100px;
    .lead {
      margin-bottom: 10px;
    }
    .mini {
      text-align: right;
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    .lists {
      li {
        vertical-align: top;
        display: inline-block;
        width: 49.5%;
      }
      li:last-child {
        margin-right: auto;
      }
    }
  } //park

  .festival {
    margin-bottom: 100px;
    .mini {
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    li {
      vertical-align: top;
      display: inline-block;
      width: 54%;
      margin-right: 2%;
    }
    li:last-child {
      width: 42%;
      margin-right: auto;
    }
  } //festival

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
    .sections {
      .tit {
        font-size: 20px;
        margin-bottom: 20px;
        span {
          font-size: 18px;
        }
      }
      .lead {
        font-size: 17px;
        margin-bottom: 20px;
      }
      .text {
        font-size: 22px;
        span {
          font-size: 16px;
        }
      }
      .name {
        font-size: 20px;
        margin: 10px 0 20px;
        span {
          font-size: 16px;
        }
      }
    } //sections
    .intro {
      .section-lead {
        text-align: left;
        font-size: 30px;
        padding-bottom: 40px;
      }
    } //intro

    .tama {
      .tama01 {
        margin-bottom: 20px;
      }
      .list01 {
        li {
          width: 32.7%;
        }
      }
      .bg {
        margin-bottom: 60px;
        .list02 {
          li {
            display: inline-block;
            width: 100%;
            margin-right: auto;
          }
          li:nth-child(2),
          li:last-child {
            width: 49%;
          }
        }
        .txt01 {
          font-size: 22px;
        }
        .txt02 {
          font-size: 24px;
          span {
            font-size: 16px;
          }
        }
        .txt03 {
          font-size: 17px;
        }
        .txt04 {
          font-size: 22px;
        }
      } //bg
      .list03 {
        margin-bottom: 30px;
        .info {
          font-size: 17px;
        }
      }
      .list04 {
        li {
          display: block;
          width: 100%;
        }
        li:last-child {
          margin-top: 10px;
        }
        .side {
          width: 49%;
          margin-right: auto;
        }
        .side.last {
          width: 49%;
          margin-right: auto;
        }
      }
    } //tama
  } //tb
  @media screen and (max-width: 768px) {
    .sections {
      .section-title {
        font-size: 20px;
        padding-top: 90px;
        margin-bottom: 60px;
        &::after {
          width: 40px;
          height: 100px;
          margin-right: 10px;
        }
      }
      .inner {
        margin: 0 auto;
        width: 70%;
      }
    } //sections

    .tama {
      .list01 {
        li {
          display: block;
          width: 100%;
        }
      }
      .bg {
        .list02 {
          li:nth-child(2),
          li:last-child {
            width: 100%;
          }
          li:nth-child(2) {
            margin: 10px auto;
          }
        }
      } //bg
      .list03 {
        li {
          display: block;
          width: 100%;
        }
        .info {
          margin-bottom: 30px;
        }
      }
      .list04 {
        .side {
          display: block;
          width: 100%;
        }
        .side.last {
          width: 100%;
        }
        .tama10 {
          margin: 10px auto;
        }
      }
    } //tama

    .park {
      margin-bottom: 60px;
      .mini {
        text-align: left;
      }
      .lists {
        li {
          display: block;
          width: 100%;
        }
      }
    } //park

    .festival {
      margin-bottom: 60px;
      li {
        display: block;
        width: 100%;
      }
      li:last-child {
        width: 100%;
      }
    } //festival
  } //sp
}
