@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";
#adtag {
  opacity: 0;
}
#map {
  main {
    font-family: "RyuminPro", serif;
    margin-bottom: 100px;
    padding-top: 200px;
    .content-inner {
      max-width: 1300px;
      width: 90%;
      margin: 0 auto;
      position: relative;
    }
    .page-title {
      font-size: 28px;
      font-weight: normal;
      padding: 0 15px 55px;
      text-align: center;
      letter-spacing: 0.1em;
      color: rgb(90, 90, 21);
      span {
        letter-spacing: 0;
        margin-right: 0.2em;
        &.font-size400 {
          font-size: 400%;
        }
      }
    }
    .map-image {
      // padding-bottom: 60px;
      .text01 {
        margin: 75px auto;
        color: rgb(90, 90, 21);
        font-size: 40px;
        // margin-bottom: 20px;
        text-align: center;
        img {
          width: 80%;
        }
        span{
          display: block;
          font-size: 50%;
        }
      }
      .link {
        a {
          display: block;
          padding: 20px;
          text-align: center;
          color: #000;
          background: #efefef;
          position: relative;
          font-size: 18px;
          letter-spacing: 0.25em;
          &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            height: 100%;
            background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.25) 0%,
              rgba(0, 0, 0, 0) 70%,
              rgba(0, 0, 0, 0) 100%
            );
          }
        }
      }
    }
  } //map-image
  .text01 {
    margin: 75px auto;
    color: rgb(90, 90, 21);
    font-size: 40px;
    text-align: center;
    width: fit-content;
    span{
      display: block;
      font-size: 12px;
      text-align: right;
    }
  }
  .link-buttons {
    text-align: center;
    font-size: 0;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    li {
      text-align: center;
      float: left;
      width: 48%;
      margin-right: auto;
      &:last-child {
        float: right;
        margin-right: auto;
      }
      &.link02 {
        a {
          background: #b6a793;
        }
      }
    }
    a {
      display: block;
      padding: 30px 0;
      font-size: 29px;
      background: #8a5a32;
      position: relative;
      color: #fff;
    }
  }
  .annotation {
    padding-top: 20px;
    font-size: 13px;
    bottom: -50px;
    right: 0;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  @media (max-width: 1300px) {
    .map-image .link {
      width: 92%;
      margin: 0 auto;
    }
    .map-image .link a {
      font-size: 20px;
    }
    .link-buttons li {
      display: block;
      float: none;
      max-width: 560px;
      width: 92%;
      margin: 0 auto 40px;
    }
    .link-buttons li:last-child {
      float: none;
      margin-right: auto;
    }
    .link-buttons a {
      padding: 20px 30px;
      font-size: 18px;
    }
  }

  @media (max-width: $breakpoint_sp) {
    main {
      padding-top: 80px;
      .page-title {
        font-size: 20px;
      }
      .content-inner {
        max-width: auto;
        max-width: inherit;
        width: 92%;
      }
      .map-image {
        padding-bottom: 40px;
        .text01 {
          font-size: 20px;
          line-height: 1.8;
          padding: 25px 10px;
        }
        .annotation {
          width: 90%;
          margin: 0 auto;
          font-size: 12px;
        }
      }
    } //map-imagg
    .link-buttons {
      li {
        margin: 0 auto;
      }
    }
    .link02 {
      display: none !important;
    }
  } //sp

  @media print {
    * html {
      text-align: center;
    }

    .header-right,
    .link-buttons,
    .footer .entry .entry-btn,
    .footer .footer-menu,
    .footer .footer-recommend,
    .footer .footer-logo,
    .footer .footer-wrapper,
    .footer .footer-btn {
      display: none !important;
    }
    head{
      display: none !important;
    }
    header {
      display: block;
      .header-wrapper{
        height: 40px;
      }
    }
    main {
      padding-top: 0 !important;
      margin-bottom: 30px !important;
      width: 90% !important;
      margin: 0 auto !important;
    }
    .content-inner{
      position: relative;
    }
    .print-area {
      .page-title  {
        padding-bottom: 15px;
        .font-size400{
          font-size: 200%;
        }
      }
      .map-image{
        margin: -20px auto!important;
      }
      .text01{
        margin: 0 auto !important;
        font-size: 22px;
      }
      .annotation{
        bottom: -100px !important;
        padding-top: -20px !important;
      }
    }
    // .print-area .map-image .image{
    //   width: 750px;
    //   text-align: center;
    //   margin: 0 auto;
    // }
    // .print-area main .map-image .text01 {
    // margin: 30px auto!important;
    // }
    .entry {
      padding: 10px 0 !important;
    }
    .entry .entry-tel {
      width: 80% !important;
      margin: 45px auto 0 !important;
    }
  }
} //map
