@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";
#adtag {
  opacity: 0;
}

/************* バナースライド *************/

.top-banner {
  display: none;
  padding-top: 50px;
}

.banner-slide {
  margin: 27px -10px 0;
}

.banner-slide .slick-slide {
  margin: 0 10px;
  border: 1px solid #d1c7b6;
}

.banner-slide .slick-prev {
  left: -50px;
}

.banner-slide .slick-next {
  right: -50px;
}

@media screen and (max-width: 1400px) {
  .banner-slide {
      margin: 27px 25px 0;
  }
  .banner-slide .slick-prev {
      left: -25px;
  }
  .banner-slide .slick-next {
      right: -25px;
  }
}

@media screen and (max-width: 639px) {
  .banner-slide .slick-dots li {
      width: 10px;
      height: 10px;
  }

  .banner-slide .slick-dots li button {
      width: 100%;
      height: 100%;
      padding: 0;
      border-radius: 50%;
      background-color: #707070;
  }

  .banner-slide .slick-dots li.slick-active button {
      background-color: rgba(80, 50, 30, 1);
  }

  .banner-slide .slick-dots li button:before {
      display: none;
  }


  .banner-slide .slick-slide {
      margin: 0;
  }    
  .banner-slide .slick-prev {
      left: -30px;
  }
  .banner-slide .slick-next {
      right: -30px;
  }
}

#top {

  main img {
    max-width: 100%;
  }
  main {
    font-family: 'RyuminPro', serif;
  }
  .breadcrumb{
    display: none;
  }
  .page-annotation {
    font-family: 'Noto Sans JP', sans-serif;
  }
  .main-visual {
    position: relative;
    line-height: 0;
    border: none;
    .page-lead {
      position: absolute;
      top: 6%;
      left: 64%;
      transform: translateX(-50%);
      max-width: 908px;
      width: (908 / 1600) * 100%;
      filter: drop-shadow(0 0 5px rgba(138,124,201,1)) drop-shadow(0 0 5px rgba(138,124,201,1));
      &.sub{
        top: 90%;
        left: 50%;
        width: (460 / 1600) * 100%;
      }
    }
  }
  .apeal {
    line-height: 0;
    background-color: #f1e9dc;
    padding: 20px 0 25px;
    text-align: center;
    border-bottom: 1px solid #cfc8b8;
    .wrap {
      max-width: 696px;
    }
  }
  .points {
    background-color: #f1e9dc;
    padding: 25px 0 27px;
    text-align: center;
    .wrap {
      max-width: 1300px;
      width: auto;
    }
    .text01 {
      font-size: 25px;
      padding-bottom: 18px;
      border-bottom: 1px solid #cfc8b8;
      margin-bottom: 18px;
      .big {
        font-size: 130%;
      }
      .number {
        font-size: 150%;
      }
    }
    .lists {
     display: flex;
     li {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 1px;
        top: 0;
        right: -3%;
        background-color: #cfc8b8;
      }
     }
     .list01 {
      width: 25%;
     }
     .list02 {
      width:48%;
     }
     .list03 {
      width: 27%;
      &::after {
        display: none;
      }
     }
    }
    .text02 {
      font-size: 20px;
      .big {
        font-size: 120%;
      }
    }
  }//points
  .section-title {
    font-size: 35px;
    line-height: 1.5;
    padding-bottom: 38px;
    text-align: center;
    font-weight: normal;
    letter-spacing: .2em;
  }
  .information {
    padding: 120px 0 140px;
    .information-box {
      padding: 35px 0;
      border-top: 1px solid #d3c8b6;
      border-bottom: 1px solid #d3c8b6;
    }
  }
  .site-contents {
    padding-bottom: 140px;
    .lists {
      li {
        float: left;
        width: 49%;
        position: relative;
        margin-bottom: 25px;
        &:nth-child(2n){
          float: right;
        }
        &:nth-child(2n+1){
          clear: both;
        }
      }
    }
    .texts {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%,-50%);
      width: 75%;
      padding: 40px 20px;
      background-color: rgba(255,255,255,.8);
    }
    .text01 {
      font-size: 45px;
      color: #5e4e35;
    }
    .text02 {
      font-size: 18px;
      padding-left: 30px;
      position: relative;
      display: inline-block;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0 ;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 9px solid #000;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
      }
    }
  }//site-contents
  main {
    padding-bottom: 140px;
  }
  @media screen and (max-width: 1300px) {
    .points {
      .text01 {
        font-size: 22px;
      }
      .text02 {
        font-size: 15px;
        .big {
          font-size: 120%;
        }
      }
    }//points
  }
  @media screen and (max-width: 1024px) {
    .apeal {
      .wrap {
        width: 84%;
      }
    }
    .points {
      padding: 25px 0 27px;
      .wrap {
        width: 90%;
      }
      .text01 {
        font-size: 18px;
      }
      .lists {
        flex-wrap: wrap; /* 折返し指定 */
       .list01 {
        width: 30%;
       }
       .list02 {
        width: 30%;
       }
       .list03 {
        width: 40%;
       }
       .list04 {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #cfc8b8;
        width: 100%;
       }
      }
      .text02 {
        font-size: 13px;
      }
    }//points
    .section-title {
      font-size: 29px;
      padding-bottom: 38px;
    }
    .site-contents {
      .text01 {
        font-size: 28px;
      }
      .text02 {
        font-size: 15px;
      }
    }//site-contents
    main {
      padding-bottom: 140px;
    }
  }
  @media screen and (max-width: 768px) {
    .main-visual {
      .page-lead {
        top: 8%;
        width: 80%;
        left: 50%;
        img{
          width: 100%;
          display: block;
        }
        &.sub{
          top: 90%;
          width: 80%;
          left: 50%;
        }
      }
      .image img.sp{
        display: block;
        width: 100%;
      }
    }
    .apeal {
      padding: 30px 0 35px;
    }
    .points {
      background-color: #f1e9dc;
      padding: 25px 0 27px;
      text-align: center;
      .wrap {
        margin: 0 auto;
        width: 90%;
      }
      .text01 {
        font-size: 16px;
        padding-bottom: 18px;
        margin-bottom: 0;
      }
      .lists {
      display: block;
      li {
        position: relative;
        border-bottom: 1px solid #cfc8b8;
        &::after {
          display: none;
        }
        padding: 18px 0;
      }
      .list01 {
        width: auto;
      }
      .list02 {
        width: auto;
      }
      .list03 {
        width: auto;
      }
      .list04 {
        width: auto;
        margin-top: 0;
        border-top: none;
        border-bottom: none;
      }
      }
      .text02 {
        font-size: 16px;
      }
    }//points
    .section-title {
      font-size: 25px;
      padding-bottom: 38px;
    }
    .information {
      padding: 90px 0 100px;
    }
    .site-contents {
      padding-bottom: 100px;
      .lists {
        li {
          float: none;
          width: 90%;
          margin: 0 auto 35px;
          &:nth-child(2n){
            float: none;
          }
        }
      }
      .texts {
        padding: 25px 12px;
      }
      .text01 {
        font-size: 25px;
      }
      .text02 {
        font-size: 14px;
        padding-left: 22px;
        &:after {
          border-left: 5px solid #000;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
        }
      }
    }//site-contents
    main {
      padding-bottom: 110px;
    }
  }
}