@charset "UTF-8";


.main-visual {
  max-width: 1280px;
  /*max-width: 1150px;*/
  margin: 10px auto 0;
  text-align: center;
  position: relative; }
  .main-visual img {
    width: 100%;
    height: auto; 
	
}
  /* .main-visual .captxt {
    position: absolute;
    bottom: 3px;
    right: 5px;
    text-align: right;
    color: #fff;
    font-feature-settings: 'palt'; } */
  .main-visual .shadow {
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #000; }
  .main-visual .swiper-container {
    background: #fff; }
    .main-visual .swiper-container .swiper-pagination {
      bottom: 1.25rem; }
    .main-visual .swiper-container .captxt {
      position: absolute; }
    .main-visual .swiper-container .swiper-wrapper .shadow {
      text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #000; }
    .main-visual .swiper-container .swiper-wrapper .slide01 .captxt {
      right: 48%; }
    .main-visual .swiper-container .swiper-wrapper .slide02 .captxt1 {
      bottom: 50.2%;
      right: 50.5%; }
    .main-visual .swiper-container .swiper-wrapper .slide02 .captxt2 {
      bottom: 50.2%; }
    .main-visual .swiper-container .swiper-wrapper .slide02 .captxt3 {
      right: 50.5%; }
    .main-visual .swiper-container .swiper-wrapper .slide04 .captxt {
      right: 45.3%; }
  .main-visual .mvCarten {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; }
    .main-visual .mvCarten.fadeOut {
      animation: mvMotion-carten 1s linear 0s forwards; }
@keyframes mvMotion-carten {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .main-visual .mvSlider {
    width: 100%;
    margin-bottom: 0;
    background-color: #000; }
    .main-visual .mvSlider .slick-dots {
      bottom: 0px; }
      .main-visual .mvSlider .slick-dots li {
        width: auto;
        height: auto;
        margin: 0; }
        .main-visual .mvSlider .slick-dots li button {
          width: auto;
          height: auto;
          padding: 10px; }
          .main-visual .mvSlider .slick-dots li button::before {
            display: none; }
          .main-visual .mvSlider .slick-dots li button::after {
            transform: scale(0.2, 0.2);
            display: block;
            content: "";
            width: 12px;
            height: 12px;
            background-color: white;
            border-radius: 50%;
            transition: 0.2s ease-out 0s background , 0.2s ease-out 0s border, 0.2s ease-out transform;
            border: 2px solid white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
        .main-visual .mvSlider .slick-dots li.slick-active button::after {
          border: 2px solid white;
          background-color: white;
          border-radius: 50%;
          transform: scale(1, 1); }
    .main-visual .mvSlider .mvSlider-cell .mvSlider-inner {
      width: 100%;
      padding-bottom: calc(930 / 1280 * 100%);
      position: relative;
      overflow: hidden; }
    .main-visual .mvSlider .mvSlider-cell .mv-visual {
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .main-visual .mvSlider .mvSlider-cell .mv-copy {
      opacity: 0;
      filter: blur(1.5);
      position: absolute;
      top: 0%;
      left: 0%;
      /*transform: translate(-50%, -50%);*/
      width: 100%; }
      .main-visual .mvSlider .mvSlider-cell .mv-copy img {
        width: 100%;
        height: auto;
        display: block; }
    .main-visual .mvSlider .mvSlider-cell .mv-note {
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: auto; }
    .main-visual .mvSlider .mvSlider-cell .mv-note.noteRight {
      position: absolute;
      bottom: 10px;
      right: 10px;
      left: auto; }
      .main-visual .mvSlider .mvSlider-cell .mv-note .captxt {
        position: static; }
		
    .main-visual .mvSlider .mvSlider-cell.cell-1 .mv-visual {
		width: 100%;
		height: 150%; 	  
	  }		

    .main-visual .mvSlider .mvSlider-cell.cell-2 .mv-visual {
      transform-origin: center 80%; }
	.main-visual .mvSlider .mvSlider-cell.cell-3 .mv-visual {
      width: 100%; 
	  } 
    .main-visual .mvSlider .mvSlider-cell.cell-4 .mv-visual {
/*       transform: scale(1.2, 1.2);
      transform-origin: center center;  */
	  width: 100%;
		_width: calc(990 / 1280 * 100%);
		height:108%;
		background-size:100% auto !important;
	  }
   .main-visual .mvSlider .mvSlider-cell.cell-5 {
      background-color: #FFF; }  /**/
   /*    .main-visual .mvSlider .mvSlider-cell.cell-5 .mv-mask {
        background-color:#FFF; } */
      .main-visual .mvSlider .mvSlider-cell.cell-5 .mv-visual {/*border:10px solid #F00;*/
			width: 100%;
		/*	height: 130%; 
			transform: translate(-50%, -50%);*/
			background-size:100%;
		
		}
      /* .main-visual .mvSlider .mvSlider-cell.cell-5 .mv-copy {
        left: 75%; } */
    .main-visual .mvSlider .mvSlider-cell.motion .mv-copy {
      animation: mvMotion-copy 1s cubic-bezier(0.34, 0.79, 0.58, 1) 3s forwards; }
	  
    .main-visual .mvSlider .mvSlider-cell.motion.cell-1 .mv-visual {
      /* animation: mvMotion1-visual 8s cubic-bezier(0.34, 0.79, 0.58, 1) 0s forwards; */
      animation: mvMotion1-visual 7s linear;

	  }
/*     .main-visual .mvSlider .mvSlider-cell.motion.cell-1 .mv-copy {
      animation: mvMotion-copy 1s cubic-bezier(0.34, 0.79, 0.58, 1) 6s forwards; } */

    .main-visual .mvSlider .mvSlider-cell.motion.cell-2 .mv-visual {
      animation: mvMotion2-visual 7s linear 0s forwards; 
	  
	  }
    .main-visual .mvSlider .mvSlider-cell.motion.cell-3 .mv-visual {
      animation: mvMotion3-visual 7s linear 0s forwards; }
    .main-visual .mvSlider .mvSlider-cell.motion.cell-4 .mv-visual {
      /* animation: mvMotion4-visual 7.5s cubic-bezier(0.34, 0.79, 0.58, 1) 0s forwards;  */
      animation: mvMotion4-visual 7s linear 0s forwards; 
	  }
/*    .main-visual .mvSlider .mvSlider-cell.motion.cell-5 .mv-visual {
       animation: mvMotion5-visual 7s linear 0s forwards; 
	  transform-origin: left bottom;  
	  }*/
     .main-visual .mvSlider .mvSlider-cell.motion.cell-6 .mv-copy {
      animation: mvMotion-copy 1s cubic-bezier(0.34, 0.79, 0.58, 1) 1s forwards; 
	  } /**/

/* .main-visual .mvSlider .mvSlider-cell.motion.cell-5 img{
	border:1px solid #F00;
}
 */

@keyframes mvMotion-copy {
	0% {    opacity: 0;    filter: blur(20px); }
	30% {    opacity: 1;    filter: blur(10px); }
	100% {    opacity: 1;    filter: blur(0); } 
}
	
@keyframes mvMotion1-visual {
/* 	0% {    transform: translateY(0%); }
	100% {    transform: translateY(-33%);  }*/
	
0% {    transform: scale(1.2, 1.2); }
100% {    transform: scale(1, 1); 	}
}

@keyframes mvMotion2-visual {
	0% {    transform: scale(1.2, 1.2); }
	100% {    transform: scale(1, 1); } 
}
@keyframes mvMotion3-visual {
	0% {    transform: scale(1, 1); }
	100% {    transform: scale(1.1, 1.1);	}
}
@keyframes mvMotion4-visual {
	0% {    transform: translateY(0%); }
	100% {    transform: translateY(-6%); }	
}
	

@keyframes mvMotion5-visual {
  0% {	 
    transform: scale(1.2, 1.2)  translateY(0%)  translateX(0%);	
	}
  100% {
    transform: scale(1, 1)   translateY(0%)   translateX(0%);
	} 
}




    @media screen and (max-width: 600px) {
      .main-visual .mvSlider .slick-dots {
        position: static;
        width: 100%;
        background-color: #000;
        padding: 5px 0;
        text-align: center;
        bottom: auto;
        font-size: 0; }
        .main-visual .mvSlider .slick-dots li button {
          padding: 5px; }
      .main-visual .mvSlider .mvSlider-cell .mvSlider-inner {
        padding-bottom: calc(930 / 1280 * 100%); }
		.main-visual .mvSlider .mvSlider-cell .mv-note.noteRight,
        .main-visual .mvSlider .mvSlider-cell .mv-note {
			position:absolute;
        bottom: 0px;
}
/*     .main-visual .mvSlider .mvSlider-cell .mv-copy {
        width: 80%; }
      .main-visual .mvSlider .mvSlider-cell .mv-visual {
        background-position: 42% center; }
      .main-visual .mvSlider .mvSlider-cell.cell-1 .mv-visual {
        background-position: center center; }
      .main-visual .mvSlider .mvSlider-cell.cell-1 .mv-copy {
        width: calc(70 / 1280 * 100%);
        left: 22%;
        top: calc(50% - 10px); }  */
		
		}