@charset "UTF-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
/******************************************************

 head

******************************************************/
@media print {
  * html {
    text-align: center;
  }
  @page {
    margin: 0mm 5mm;
  }
  body {
    padding-top: 5mm;
    width: 210mm;
    height: 297mm;
  }
  .header-right,
  .entry h2,
  .entry .entry-btn,
  .footer-menu,
  .footer-recommend,
  .footer-logo,
  .footer-wrapper,
  .footer-btn,
  #btnArea,
  .container .txt {
    display: none !important;
  }
  header {
    display: block;
  }
  .map-sec .ttl {
    margin: -4mm 0 0 !important;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  #submaincontainer {
    width: 100% !important;
  }
  #submaincontainer .mapArea {
    width: 130mm;
    text-align: center;
    margin: 0 auto;
  }
  #submaincontainer #map1 {
    width: 130mm;
  }
  #map #submaincontainer .zip {
    margin: -2mm auto 0 !important;
    font-size: 12px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  .entry {
    margin-top: -8mm !important;
    padding: 0 !important;
  }
  .entry .entry-tel {
    margin-top: -2mm !important;
  }
  .entry .entry-tel__num {
    margin-left: -16mm !important;
  }
  .entry .entry-info {
    margin-top: -1mm !important;
  }
  #submaincontainer #map1 img {
    width: 130mm;
  }
  .map-sec .ttl {
    padding-top: 15px;
  }
  .map-sec .ttl .eng {
    font-size: 5rem !important;
  }
  .map-sec .ttl .ja {
    font-size: 2rem !important;
  }
  .map-btn__list {
    display: none !important;
  }
}
/*-------------------------------------------------------------------*/
#adtag {
  opacity: 0;
}

html, body {
  background: #fff;
}

#btnArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

#GoogleMap {
  width: 50%;
  text-align: center;
}

#GoogleMap img {
  margin: auto;
}

#PrintMap {
  width: 50%;
  text-align: center;
}

#PrintMap img {
  margin: auto;
}

#map {
  /**************************************************************************************/
  /* w1600 Site*/
  /**************************************************************************************/
}
#map main {
  font-family: "RyuminPro", serif;
  margin-bottom: 100px;
}
#map #submaincontainer {
  width: 1300px;
  margin: 0 auto 0 auto;
  font-size: 10px;
  color: #666;
}
#map .map-sec .ttl {
  color: #5d4c32;
  line-height: 1.3;
  margin: 190px 0 75px 0;
  text-align: center;
}
#map .map-sec .ttl .eng {
  font-size: 10rem;
}
#map .map-sec .ttl .ja {
  font-size: 3rem;
  margin-left: 20px;
}
#map #submaincontainer .zip {
  font-size: 30px;
  font-weight: normal;
  font-family: "RyuminPro", "GaramondPro", serif;
  margin: 75px auto;
  color: #534D44;
  text-align: center;
}
#map #submaincontainer .zip span {
  font-size: 16px;
}
#map #submaincontainer .container {
  margin: 30px auto 30px auto;
}
#map .link-buttons {
  text-align: center;
  font-size: 0;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}
#map .link-buttons li {
  text-align: center;
  float: left;
  width: 48%;
  margin-right: auto;
}
#map .link-buttons li:last-child {
  float: right;
  margin-right: auto;
}
#map .link-buttons li.link02 a {
  background: #b6a793;
}
#map .link-buttons a {
  display: block;
  padding: 30px 0;
  font-size: 29px;
  background: #8a5a32;
  position: relative;
  color: #fff;
}
#map .annotation {
  padding-top: 20px;
  font-size: 13px;
  bottom: -50px;
  right: 0;
  width: 100%;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 1600px) {
  #map h1,
  #map #h_reserve,
  #map #h_online,
  #map #h_request,
  #map #submaincontainer dl {
    /*display:none;*/
  }
  #map #submaincontainer {
    width: 81.25vw;
  }
  #map #submaincontainer {
    width: 700px;
    margin: 0 auto 0 auto;
    font-size: 0.625vw;
    color: #666;
  }
  #map #submaincontainer #map1 {
    /*width:30.312vw;*/
    width: 81.25vw;
    margin: 0 auto 0 auto;
  }
  #map #GoogleMap {
    width: 45%;
  }
  #map #PrintMap {
    width: 45%;
  }
  #map #submaincontainer #map1 img {
    width: 700px;
    height: 53.125vw;
  }
  #map #submaincontainer #map2 {
    width: 30.312vw;
    margin: 0 auto 0 auto;
  }
  #map #submaincontainer #map2 img {
    width: 30.312vw;
    height: 13.5vw;
  }
  #map #GoogleMap {
    display: block;
    margin-top: 0.625vw;
  }
  #map .mr {
    padding-right: 1.25vw;
  }
  #map #submaincontainer .ttl img {
    float: left;
  }
}
@media (max-width: 1300px) {
  #map #submaincontainer {
    width: 100%;
  }
  #map #submaincontainer #map1 {
    /*width:30.312vw;*/
    width: 100%;
    margin: 0 auto 0 auto;
  }
  #map #btnArea {
    display: block;
    width: 100%;
  }
  #map #btnArea img {
    margin-top: 40px;
  }
  #map #GoogleMap {
    width: 100vw;
  }
  #map #PrintMap {
    width: 100vw;
  }
  #map #submaincontainer .zip span {
    display: block;
    margin-top: 10px;
  }
  #map .cap {
    text-align: center;
  }
}
@media (max-width: 768px) {
  #map #btnArea {
    display: block;
    width: 100%;
  }
  #map #GoogleMap {
    width: 100%;
    margin: auto;
  }
  #map #GoogleMap img {
    width: 100%;
    margin: auto;
  }
  #map #submaincontainer {
    width: 92%;
  }
  #map #submaincontainer .ttl {
    width: 60%;
    height: auto;
    margin: 40px auto;
    font-size: 30px;
  }
  #map #submaincontainer .zip {
    font-size: 22px;
    margin: 40px auto;
  }
  #map #submaincontainer .zip span {
    font-size: 13px;
    margin-top: 0;
  }
  #map main .map-sec .ttl .eng {
    font-size: 8rem;
  }
  #map main .map-sec .ttl .ja {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
  }
  #map main .content-inner {
    max-width: auto;
    max-width: inherit;
    width: 92%;
  }
}/*# sourceMappingURL=map.css.map */