@charset "UTF-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
#adtag {
  opacity: 0;
}

/************* バナースライド *************/
.top-banner {
  padding-top: 50px;
}

.banner-slide {
  margin: 27px -10px 0;
}

.banner-slide .slick-slide {
  margin: 0 14px;
  border: 1px solid #d1c7b6;
  background: #DDD;
}

.banner-slide .slick-slide figure {
  width: 100%;
  height: 100%;
}

.banner-slide .slick-prev {
  left: -50px;
}

.banner-slide .slick-next {
  right: -50px;
}

@media screen and (max-width: 1400px) {
  .banner-slide {
    margin: 27px 25px 0;
  }
  .banner-slide .slick-prev {
    left: -25px;
  }
  .banner-slide .slick-next {
    right: -25px;
  }
}
@media screen and (max-width: 639px) {
  .banner-slide .slick-dots li {
    width: 10px;
    height: 10px;
  }
  .banner-slide .slick-dots li button {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 50%;
    background-color: #707070;
  }
  .banner-slide .slick-dots li.slick-active button {
    background-color: rgb(80, 50, 30);
  }
  .banner-slide .slick-dots li button:before {
    display: none;
  }
  .banner-slide .slick-slide {
    margin: 0;
  }
  .banner-slide .slick-prev {
    left: -30px;
  }
  .banner-slide .slick-next {
    right: -30px;
  }
  .slick-slide img {
    margin: auto;
  }
}
#top main img {
  max-width: 100%;
}
#top main {
  font-family: "RyuminPro", serif;
}
#top .breadcrumb {
  display: none;
}
#top .page-annotation {
  font-family: "Noto Sans JP", sans-serif;
}
#top .main-visual {
  position: relative;
  line-height: 0;
  border: none;
}
#top .main-visual img {
  width: 100%;
  height: auto;
}
#top .main-visual .page-lead {
  position: absolute;
  top: 6%;
  left: 64%;
  transform: translateX(-50%);
  max-width: 908px;
  width: 56.75%;
  filter: drop-shadow(0 0 5px rgb(138, 124, 201)) drop-shadow(0 0 5px rgb(138, 124, 201));
}
#top .main-visual .page-lead.sub {
  top: 90%;
  left: 50%;
  width: 28.75%;
}
#top .top-mv__slide .slick-dots li {
  width: 10px;
  height: 10px;
}
#top .top-mv__slide .slick-dots li button {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 50%;
  background-color: #707070;
}
#top .top-mv__slide .slick-dots li.slick-active button {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 50%;
  background-color: rgb(80, 50, 30);
}
#top .top-mv__slide .slick-dots li button:before {
  display: none;
}
#top .apeal {
  line-height: 0;
  background-color: #f1e9dc;
  padding: 20px 0 25px;
  text-align: center;
  border-bottom: 1px solid #cfc8b8;
}
#top .apeal .wrap {
  max-width: 696px;
}
#top .points {
  background-color: #f1e9dc;
  padding: 25px 0 27px;
  text-align: center;
}
#top .points .wrap {
  max-width: 1300px;
  width: auto;
}
#top .points .text01 {
  font-size: 25px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cfc8b8;
  margin-bottom: 18px;
}
#top .points .text01 .big {
  font-size: 130%;
}
#top .points .text01 .number {
  font-size: 150%;
}
#top .points .lists {
  display: flex;
}
#top .points .lists li {
  position: relative;
}
#top .points .lists li::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  top: 0;
  right: -3%;
  background-color: #cfc8b8;
}
#top .points .lists .list01 {
  width: 25%;
}
#top .points .lists .list02 {
  width: 48%;
}
#top .points .lists .list03 {
  width: 27%;
}
#top .points .lists .list03::after {
  display: none;
}
#top .points .text02 {
  font-size: 20px;
}
#top .points .text02 .big {
  font-size: 120%;
}
#top .section-title {
  font-size: 35px;
  line-height: 1.5;
  padding-bottom: 38px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.2em;
}
#top .information {
  padding: 120px 0 140px;
}
#top .information .information-box {
  padding: 35px 0;
  border-top: 1px solid #d3c8b6;
  border-bottom: 1px solid #d3c8b6;
}
#top .site-contents {
  padding-bottom: 140px;
}
#top .site-contents .lists li {
  float: left;
  width: 49%;
  position: relative;
  margin-bottom: 25px;
}
#top .site-contents .lists li:nth-child(2n) {
  float: right;
}
#top .site-contents .lists li:nth-child(2n+1) {
  clear: both;
}
#top .site-contents .texts {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 0.8);
}
#top .site-contents .text01 {
  font-size: 45px;
  color: #5e4e35;
}
#top .site-contents .text02 {
  font-size: 18px;
  padding-left: 30px;
  position: relative;
  display: inline-block;
}
#top .site-contents .text02:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 9px solid #000;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}
#top main {
  padding-bottom: 140px;
}
@media screen and (max-width: 1300px) {
  #top .points .text01 {
    font-size: 22px;
  }
  #top .points .text02 {
    font-size: 15px;
  }
  #top .points .text02 .big {
    font-size: 120%;
  }
}
@media screen and (max-width: 1024px) {
  #top .apeal .wrap {
    width: 84%;
  }
  #top .points {
    padding: 25px 0 27px;
  }
  #top .points .wrap {
    width: 90%;
  }
  #top .points .text01 {
    font-size: 18px;
  }
  #top .points .lists {
    flex-wrap: wrap; /* 折返し指定 */
  }
  #top .points .lists .list01 {
    width: 30%;
  }
  #top .points .lists .list02 {
    width: 30%;
  }
  #top .points .lists .list03 {
    width: 40%;
  }
  #top .points .lists .list04 {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #cfc8b8;
    width: 100%;
  }
  #top .points .text02 {
    font-size: 13px;
  }
  #top .section-title {
    font-size: 29px;
    padding-bottom: 38px;
  }
  #top .site-contents .text01 {
    font-size: 28px;
  }
  #top .site-contents .text02 {
    font-size: 15px;
  }
  #top main {
    padding-bottom: 140px;
  }
}
@media screen and (max-width: 768px) {
  #top .main-visual .page-lead {
    top: 8%;
    width: 80%;
    left: 50%;
  }
  #top .main-visual .page-lead img {
    width: 100%;
    display: block;
  }
  #top .main-visual .page-lead.sub {
    top: 90%;
    width: 80%;
    left: 50%;
  }
  #top .main-visual .image img.sp {
    display: block;
    width: 100%;
  }
  #top .apeal {
    padding: 30px 0 35px;
  }
  #top .points {
    background-color: #f1e9dc;
    padding: 25px 0 27px;
    text-align: center;
  }
  #top .points .wrap {
    margin: 0 auto;
    width: 90%;
  }
  #top .points .text01 {
    font-size: 16px;
    padding-bottom: 18px;
    margin-bottom: 0;
  }
  #top .points .lists {
    display: block;
  }
  #top .points .lists li {
    position: relative;
    border-bottom: 1px solid #cfc8b8;
    padding: 18px 0;
  }
  #top .points .lists li::after {
    display: none;
  }
  #top .points .lists .list01 {
    width: auto;
  }
  #top .points .lists .list02 {
    width: auto;
  }
  #top .points .lists .list03 {
    width: auto;
  }
  #top .points .lists .list04 {
    width: auto;
    margin-top: 0;
    border-top: none;
    border-bottom: none;
  }
  #top .points .text02 {
    font-size: 16px;
  }
  #top .section-title {
    font-size: 25px;
    padding-bottom: 38px;
  }
  #top .information {
    padding: 90px 0 100px;
  }
  #top .site-contents {
    padding-bottom: 100px;
  }
  #top .site-contents .lists li {
    float: none;
    width: 90%;
    margin: 0 auto 35px;
  }
  #top .site-contents .lists li:nth-child(2n) {
    float: none;
  }
  #top .site-contents .texts {
    padding: 25px 12px;
  }
  #top .site-contents .text01 {
    font-size: 25px;
  }
  #top .site-contents .text02 {
    font-size: 14px;
    padding-left: 22px;
  }
  #top .site-contents .text02:after {
    border-left: 5px solid #000;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  #top main {
    padding-bottom: 110px;
  }
}
#top .main-visual {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
#top .main-visual img {
  width: 100%;
  height: auto;
}
#top .main-visual .shadow {
  text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #000;
}
#top .main-visual .swiper-container {
  background: #fff;
}
#top .main-visual .swiper-container .swiper-pagination {
  bottom: 1.25rem;
}
#top .main-visual .swiper-container .captxt {
  position: absolute;
}
#top .main-visual .swiper-container .swiper-wrapper .shadow {
  text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #000;
}
#top .main-visual .swiper-container .swiper-wrapper .slide01 .captxt {
  right: 48%;
}
#top .main-visual .swiper-container .swiper-wrapper .slide02 .captxt1 {
  bottom: 50.2%;
  right: 50.5%;
}
#top .main-visual .swiper-container .swiper-wrapper .slide02 .captxt2 {
  bottom: 50.2%;
}
#top .main-visual .swiper-container .swiper-wrapper .slide02 .captxt3 {
  right: 50.5%;
}
#top .main-visual .swiper-container .swiper-wrapper .slide04 .captxt {
  right: 45.3%;
}
#top .main-visual .mvCarten {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
#top .main-visual .mvCarten.fadeOut {
  animation: mvMotion-carten 1s linear 0s forwards;
}
@keyframes mvMotion-carten {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#top .main-visual .mvSlider {
  width: 100%;
  margin-bottom: 0;
  background-color: #000;
}
#top .main-visual .mvSlider .slick-dots {
  bottom: 0px;
}
#top .main-visual .mvSlider .slick-dots li {
  width: auto;
  height: auto;
  margin: 0;
}
#top .main-visual .mvSlider .slick-dots li button {
  width: auto;
  height: auto;
  padding: 10px;
}
#top .main-visual .mvSlider .slick-dots li button::before {
  display: none;
}
#top .main-visual .mvSlider .slick-dots li button::after {
  transform: scale(0.2, 0.2);
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  transition: 0.2s ease-out 0s background, 0.2s ease-out 0s border, 0.2s ease-out transform;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
#top .main-visual .mvSlider .slick-dots li.slick-active button::after {
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  transform: scale(1, 1);
}
#top .main-visual .mvSlider .mvSlider-cell .mvSlider-inner {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
  overflow: hidden;
}
#top .main-visual .mvSlider .mvSlider-cell .mv-visual {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#top .main-visual .mvSlider .mvSlider-cell .mv-copy {
  opacity: 0;
  filter: blur(1.5);
  position: absolute;
  top: 7%;
  left: 7%;
}
#top .main-visual .mvSlider .mvSlider-cell .mv-copy {
  width: 42.8125%;
  margin: 0;
}
#top .main-visual .mvSlider .mvSlider-cell.cell-2 .mv-copy {
  width: 35%;
}
#top .main-visual .mvSlider .mvSlider-cell.cell-3 .mv-copy {
  width: 52.5%;
}
#top .main-visual .mvSlider .mvSlider-cell.cell-3 .mv-copy img {
  filter: drop-shadow(0 0 2px rgb(255, 255, 255));
}
#top .main-visual .mvSlider .mvSlider-cell.cell-4 .mv-copy {
  width: 40.625%;
}
#top .main-visual .mvSlider .mvSlider-cell.cell-4 .mv-copy img {
  filter: drop-shadow(0 0 2px rgb(255, 255, 255));
}
#top .main-visual .mvSlider .mvSlider-cell .mv-note {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: auto;
}
#top .main-visual .mvSlider .mvSlider-cell .mv-note.noteRight {
  position: absolute;
  font-size: 12px;
  bottom: 10px;
  right: 10px;
  left: auto;
}
#top .main-visual .mvSlider .mvSlider-cell .mv-note .captxt {
  position: static;
}
#top .main-visual .mvSlider .mvSlider-cell.cell-1 .mv-visual {
  width: 100%;
  height: 105%;
}
#top .main-visual .mvSlider .mvSlider-cell.cell-2 .mv-visual {
  transform-origin: center 80%;
}
#top .main-visual .mvSlider .mvSlider-cell.cell-3 .mv-visual, #top .main-visual .mvSlider .mvSlider-cell.cell-4 .mv-visual {
  width: 100%;
}
#top .main-visual .mvSlider .mvSlider-cell.cell-4 .mv-visual {
  width: 100%;
}
#top .main-visual .mvSlider .mvSlider-cell.cell-2 .mv-copy,
#top .main-visual .mvSlider .mvSlider-cell.cell-3 .mv-copy,
#top .main-visual .mvSlider .mvSlider-cell.mvSlider-cell.motion.cell-4 .mv-copy {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#top .main-visual .mvSlider .mvSlider-cell.motion .mv-copy {
  animation: mvMotion-copy 1s cubic-bezier(0.34, 0.79, 0.58, 1) 3s forwards;
}
#top .main-visual .mvSlider .mvSlider-cell.motion.cell-1 .mv-visual {
  animation: mvMotion1-visual 7s linear;
}
#top .main-visual .mvSlider .mvSlider-cell.motion.cell-2 .mv-visual {
  animation: mvMotion2-visual 7s linear 0s forwards;
}
#top .main-visual .mvSlider .mvSlider-cell.motion.cell-3 .mv-visual {
  animation: mvMotion3-visual 7s linear 0s forwards;
}
#top .main-visual .mvSlider .mvSlider-cell.motion.cell-4 .mv-visual {
  animation: mvMotion4-visual 7s linear 0s forwards;
}
@keyframes mvMotion-copy {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  30% {
    opacity: 1;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes mvMotion1-visual {
  0% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes mvMotion2-visual {
  0% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes mvMotion3-visual {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes mvMotion4-visual {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}
@media screen and (max-width: 600px) {
  #top .main-visual .mvSlider .slick-dots {
    bottom: 30px;
  }
  #top .main-visual .mvSlider .slick-dots li button {
    padding: 5px;
  }
  #top .main-visual .mvSlider .mvSlider-cell .mvSlider-inner {
    padding-bottom: 121.875%;
  }
  #top .main-visual .mvSlider .mvSlider-cell .mv-note.noteRight,
  #top .main-visual .mvSlider .mvSlider-cell .mv-note {
    position: absolute;
    bottom: 15px;
  }
  #top .main-visual .mvSlider .mvSlider-cell .mvSlider-inner {
    width: 100%;
    padding-bottom: 121.875%;
    position: relative;
    overflow: hidden;
  }
  #top .main-visual .mvSlider .mvSlider-cell .mv-copy {
    width: 71.875%;
  }
  #top .main-visual .mvSlider .mvSlider-cell .mv-copy img {
    height: auto;
  }
  #top .main-visual .mvSlider .mvSlider-cell.cell-2 .mv-copy {
    width: 58.4375%;
  }
  #top .main-visual .mvSlider .mvSlider-cell.cell-3 .mv-copy {
    width: 82.8125%;
  }
  #top .main-visual .mvSlider .mvSlider-cell.cell-4 .mv-copy {
    width: 67.65625%;
  }
}/*# sourceMappingURL=top.css.map */